{% extends "base/__base.html" %}

{% block content %}
<br>
<div class="alert alert-success" role="alert">
	<p>Итак, раз вы на страницах сервиса vodibezopasno, то вы наверно собираетесь получить водительское удостоверение, а может просто решили освежить свои знания в <strong>билетах по ПДД</strong>? В любом случае данный сервис будет Вам полезен.</p>
	<p>Сейчас вы находитесь на вкладке Экзамен, если вы уже готовы попытаться пройти тестирование на знание <strong>правил дорожного движения</strong>, то нажмите кнопку НАЧАТЬ ЭКЗАМЕН!</p>
</div>	
<p class="text-center"><strong>На экзамен даётся 20 минут, за каждую допущенную ошибку будет добавлено 5 дополнительных вопросов.</strong></p>
<p class="text-center"><strong> В дополнительных вопросах допускать ошибки нельзя, при допуске ошибки экзамен будет прекращен.</strong></p>
<p class="text-center"><strong>Не торопитесь. Удачи!</strong></p>
<p class="text-center">
	<a class="btn btn-primary" href="{% url 'tickets:start_Timer' %}" role="button">НАЧАТЬ ЭКЗАМЕН!</a>
</p>
{% endblock content %}