{% extends 'profiles/profile_detail.html'%}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<form action="" class="address-form form-horizontal" method="post" enctype="multipart/form-data">
    <fieldset>
   {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <div class="form-group required">
        <div class="col-sm-4">
            <label for="{{ field.id_for_label }}"> {% if field.field.required %}{{ field.label }} <span class="red">*</span>{% else %}{{ field.label }}{% endif %}</label>
        </div>
        <div class="col-sm-8">
            {{ field.errors }}
           
            {{ field }}
        </div>
    </div>
    
       
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Добавить">
</form>
 </fieldset>
{%endblock%}
