{% extends "base/__base.html" %}

{% block content %}
<br>
<div class="alert alert-info" role="alert">
	<p>Вот Вы и выучили билеты, прошли экзамен, настало самое время пройти «марафон 800».</p>
	<p>Вам необходимо пройти все 800 вопросов.</p>
	<p>В режиме «Марафон 800» идет отсчет потраченного времени.</p>
	<p>В режиме «Марафон 800» доступна кнопка пауза для перерыва во время решения билетов.</p>
	<p>В режиме «Марафон 800» после прохождения теста перейдите в раздел мои ошибки и поработайте над ошибками.</p>
</div>
<p class="text-center">Марафон еще не пройден</p>
<p class="text-center">
	<a class="btn btn-primary" href="{% url 'tickets:start_Timer' %}" role="button">Начать "Марафон 800"</a>
</p>

{% endblock content %}