{% extends 'base.html'%}
{%load news_tags thumbnail%}
{% block title %} Новости {{news.category}} , {{news.title}}{% endblock %}
{% block description %}Новости {{news.category}} , {{news.title}}{% endblock %}
{% load static watermark %}
{% block content %}
<div class="breadcrumb-holder">
   <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/news/">Новости</a></li>
   </ol>
</div>
<h1 class="page-title">{{news.title}}</h1>
<div class="flexslider">
          <ul class="slides">
                <li>
  	    	    <img src="{{ news.pict.url|watermark:"logo,position=br,opacity=35" }}" />
  	    		</li>
  	    		{% if news.pict1 %}
                <li><img src="{{news.pict1.url|watermark:"logo,position=br,opacity=35"}}" alt="2"></li>
                {% endif %}
                {% if news.pict2 %}
                <li><img src="{{news.pict2.url|watermark:"logo,position=br,opacity=35"}}" alt="3"></li>
                {% endif %}
                {% if news.pict3 %}
                <li><img src="{{news.pict3.url|watermark:"logo,position=br,opacity=35"}}" alt="4"></li>
                {% endif %}
                {% if news.pict4 %}
                <li><img src="{{news.pict4.url|watermark:"logo,position=br,opacity=35"}}" alt="5"></li>
                {% endif %}
          </ul>
        </div>
    <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
<article class="article">
   <p class="date">{{news.born}}</p>
   
   <div class="lead">
      {{news.body|safe}}
   </div>
   <div class="backcontainer">
      <div class="row">
         <div class="col-md-4 text-md-center">
            <p><a href="/news/"><i class="fa fa-angle-left"></i> Новости</a></p>
         </div>
         <div class="col-md-8 text-md-center text-right">
            <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="//yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
         </div>
      </div>
   </div>
</article>
<h2>Читайте также</h2>
<hr class="border">
<div class="row blocks">
   {% for item in news_list|slice:":9" %}
   <div class="block-item col-md-4 col-sm-12 col-xs-12">
      <a href="{% url 'news:newsdetail' slug=item.slug %}">
      <img src="{% thumbnail item.pict 255x156 crop %}" alt="{{item.title}}" class="img-responsive center-block">
      </a>
      <h2><a href="{% url 'news:newsdetail' slug=item.slug %}">{{item.title}}</a></h2>
      <p class="date">{{item.born}}</p>
   </div>
   {% endfor %}     
</div>
<div class="row blocks"></div>
{% endblock %}