{% extends 'quiz/quiz_base.html' %}
{% load i18n %}
{% block podbor %}
{% endblock %}
{% block title %}Экзамен- Билеты ПДД онлайн, Водибезопасно{% endblock %}
{% block bread_name %}Экзамены{%endblock%}
{% block content %}
			<h1 class="news__h1">Билеты</h1>
			<div class="line news__line"></div>
			<div class="row">
			    {% if quiz_list %}
			    <div class="test-block">
			        <ul>
			    {% for quiz in quiz_list %}
					<li>
						<a href="{% url 'quiz:quiz_question' quiz_name=quiz.url %}">{{ quiz.title }}</a>
					</li>
				{% endfor %}
				    </ul>
				</div>
				{% else %}
                    <p>{% trans "There are no available quizzes" %}.</p>
                {% endif %}
			</div>
			

{% endblock %}



