{% extends 'quiz/quiz_base.html' %}
{% load i18n %}
{% block podbor %}
{% endblock %}
{% block title %}Дорожная разметка Российской федерации, Водибезопасно{% endblock %}
{% block bread_name %}Дорожная разметка{%endblock%}
{% block content %}
<h1 class="news__h1">
   Горизонтальная и вертикальная дорожная разметка
</h1>
<div class="line news__line"></div>
<div class="row">
   {% for item in road_category_list %}
   <h2 id="common{{forloop.counter}}">{{forloop.counter}}.{{item.title}}</h2>
   <hr>
   {% for i in item.road_set.all %}
   <div class="row">
      <div class="col-md-12">
         {{i.body|safe}}
      </div>
   </div>
   <hr>
   {% endfor %}
   {% endfor %}
</div>
{% endblock %}
{% block sidebar%}
<div id="aside" class="au-grid au-grid-right">
   <div class="au-affix affix-top">
      <h2 class="au-affix__header">Разделы</h2>
      <div class="au-affix__content">
         <ul class="nav au-affix__list">
             {% for item in road_category_list %}
            <li>
                <a href="#common{{forloop.counter}}">{{item.title}}</a>
            </li>
         {% endfor %}
         </ul>
      </div>
   </div>
</div>
<script>
var elementPosition = $('.au-affix').offset();
$( document ).ready( function () {
$(window).scroll(function(){
        if($(window).scrollTop() > elementPosition.top){
              $('.au-affix').css('position','fixed').css('top','0');
        } else {
            $('.au-affix').css('position','static');
        }    
});
 } );
</script>
<script>
   var menu = document.querySelector('.au-affix');
   
   menu.onclick = function(e) {
   	if (e.target.tagName.toLowerCase() != 'a') return;
   
   	[].forEach.call(menu.querySelectorAll('a'), function(item) {
   		item.classList.remove('active');
   	});
   
   	e.target.classList.add('active');
   };
</script>
<style>
   .active {
   background: #aaa;
   }
</style>
{% endblock%}