{% extends "base.html" %}
{% load i18n%}
{% block podbor %}
{% endblock %}
{% load quiz_tags %}
{% block title %} {{ question }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}
{% block content %}
<div class="breadcrumb-holder">
   <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="{% url 'quiz:quiz_index'%}">Билеты</a></li>
      <li>{{ quiz.title }}</li>
   </ol>
</div>
<div class="test_main">
<p>{{ quiz.description }}</p>
{% if previous.answers %}
<p class="muted"><small>{% trans "The previous question" %}:</small></p>
<p>{{ previous.previous_question }}</p>
{% if previous.previous_outcome %}
<div class="alert alert-success">
   {% else %}
   <div class="alert alert-warning">
      {% endif %}
      <p><small>
         {% trans "Your answer was" %} </small>
         <strong>
         {{ previous.previous_outcome|yesno:"Правильный,Неправильный" }}
         </strong>
      </p>
   </div>
   <!--{% include 'correct_answer.html' %}
   <p><strong>{% trans "Explanation" %}:</strong></p>
   <div class="well " style="background-color: #fcf8e3;">
      <p>{{ previous.previous_question.explanation }}</p>
   </div>-->
   <hr>
   {% endif %}
   <br />
   {% if question %}
   {% if progress %}
   <div style="float: right;">
      {% trans "Question" %} {{ progress.0|add:1 }} {% trans "of" %} {{ progress.1 }}
   </div>
   {% endif %}
 
   <p class="lead">{{ question.content }}</p>
   {% if question.figure %}
   <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
   {% endif %}
   <form action="" method="POST">
      {% csrf_token %}
      <input type=hidden name="question_id" value="{{ question.id }}">
      <div class="radio-toolbar">
      <ul class="list-group">
         {% for answer in form.answers %}
         <li class="list-group-item">
            {{ answer }}
         </li>
         {% endfor %}
      </ul>
      </div>
   </form>
   {% endif %}
   <hr>
</div>
<script type='text/javascript'>

 $(document).ready(function() { 
   $('input[name=answers]').change(function(){
        $('form').submit();
   });
  });

</script>
{% endblock %}