{% extends "base.html" %}

{% block subtitle %}Страница не найдена{% endblock %}
{% block meta %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block content %}
    <h2>Запрашиваемая страница не найдена</h2>
   <p> Упс;( Ищете что-то интересное на нашем сайте? К сожалению, страница, которую Вы запрашиваете, не существует…</p>
   <p>Скорее всего, это случилось по одной из следующих причин: страница переехала, страницы больше нет или Вам просто нравится изучать страницу 404;)</p>
   <p>Переходите на <a href="/">главную страницу</a> – там Вы также сможете найти много полезной информации"</p>
{% endblock %}