{% extends 'base.html'%}
{% load thumbnail %}
{% block content %}
<div class="breadcrumb-holder">
   <ol class="breadcrumb">
      <li><a href="/">Главная</a></li>
      <li><a href="/school/">Инструкторы</a></li>
      <li>{{instructor.fio}}</li>
   </ol>
</div>
<h1 class="page-title">{{review.name}}, ваш отзыв не может быть добавлен, так как для одного email можно добавить только один отзыв!</h1>
<a href="{%url 'instructor:instructordetail' slug=instructor.slug%}">Вернуться</a>

{% endblock %}