{% extends 'school/school_detail.html'%}
{% block title %}Фотографии {{school.title}} {{school.city}}{% endblock %}
{% block description %}На странице представлены фотографии автошколы {{school.title}} {{school.city}}{% endblock %}
{% block detail %}
   <div class="school-photos container-fluid">
      <div class="row">
          {% for item in schoolimage_list %}
            <div class="col-sm-4 col-xs-6 col-md-4 col-lg-3"><a class="fancybox" rel="group" href="{{item.pict.url}}"><img src="{{item.pict.url}}" alt="Фотографии"></a></div>
          {% endfor %}
      </div>
   </div>
{%endblock%}
{% block reviews%}
{% endblock %}
   
